<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detall entrades i sortides</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripció</th>
                            <th>Quantitat</th>
                            <th>Tipus</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Descripció</td>
                            <td>Quantitat</td>
                            <td>Tipus</td>
                            <td>accions</td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>